* {
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	background-size: 100% 100%;
	margin: 0;
}

.no-padding {
	padding: 0px 0px 0px 0px;
}

.favicon {
	width: 110px;
	height: 110px;
	border-radius: 55px;
	background: white;
	padding-top: 54px;
	padding-left: 5px;
	float: left;
	margin-top: 36px;
}

.oval {
	width: 100px;
	height: 30px;
	background: #FF7102;
	border-radius: 15px / 15px;
	opacity: 0.7;
	padding: 7px;
	padding-left: 18px;
	position: absolute;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #FF7102;
	margin-left: 30px;
	margin-top: 30px;
	opacity: 0.7;
	position: absolute;
}

.circle {
	width: 18px;
	height: 18px;
	border-radius: 9px;
	background: white;
	float: left;
	margin-right: 5px;
}

.sm-rectangle {
	width: 18px;
	height: 30px;
	background: #FF7102;
	margin-top: -15px;
	margin-left: 18px;
	position: absolute;
	opacity: 0.7;
}

.md-rectangle {
	width: 18px;
	height: 40px;
	background: #FF7102;
	margin-top: -25px;
	margin-left: 41px;
	position: absolute;
	opacity: 0.7;
}

.lg-rectangle {
	width: 18px;
	height: 50px;
	background: #FF7102;
	margin-top: -35px;
	margin-left: 64px;
	position: absolute;
	opacity: 0.7;
}

#myLoginForm {
	font-family: 'Kavoon', cursive;
	color: #FF6B00;
}

#myRegisterForm {
	font-family: 'Kavoon', cursive;
	color: #FF6B00;
}

input[type=email], input[type=password], input[type=text] {
	border-radius: 0px;
	border: none;
	box-shadow: inset 0 2px 4px 5px rgba(255,107,0,0.1);
	padding: 22px;
	border-radius: 30px;
}

input[type=email]:focus,
input[type=password]:focus,
input[type=text] {
	box-shadow: inset 0 2px 4px 5px rgba(255,107,0,0.25);
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      margin: auto;
  }

.badge {
	font-size: 32px;
	height: 80px;
	width: 230px;
	border-radius: 0px;
	line-height: 80px;
	-webkit-animation-name: badge; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 11s; /* Chrome, Safari, Opera */
	animation-name: badge;
	animation-duration: 11s;
	animation-iteration-count: infinite;
}

.badge:hover {
	font-size: 36px;
	height: 90px;
	width: 240px;
	border-radius: 0px;
	line-height: 90px;
	-webkit-animation-name: badge; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 11s; /* Chrome, Safari, Opera */
	animation-name: badge;
	animation-duration: 11s;
	animation-iteration-count: infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes badge {
    0%   {background-color: #ff471a;}
    10%  {background-color: #cc0000;}
    20%  {background-color: #e6005c;}
    30%  {background-color: #6600ff;}
    40%  {background-color: #0000ff;}
    50%  {background-color: #0099cc;}
    60%  {background-color: #009999;}
    70%  {background-color: #009933;}
    80%  {background-color: #99cc00;}
    90%  {background-color: #ff9900;} 
    100% {background-color: #ff471a;} 
}

/* Standard syntax */
@keyframes badge {
    0%   {background-color: #ff471a;}
    10%  {background-color: #cc0000;}
    20%  {background-color: #e6005c;}
    30%  {background-color: #6600ff;}
    40%  {background-color: #0000ff;}
    50%  {background-color: #0099cc;}
    60%  {background-color: #009999;}
    70%  {background-color: #009933;}
    80%  {background-color: #99cc00;}
    90%  {background-color: #ff9900;} 
    100% {background-color: #ff471a;}
}

#jumbotron {
	font-size: 130px;
	font-family: 'Kavoon', cursive;
	padding-left: 15%;
}

@media (max-width: 767px) {
	#jumbotron {
		padding-left: 0%;
		font-size: 80px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#jumbotron {
		padding-left: 7%;
		font-size: 109px;
	}
}

@media (max-width: 600px) {
	.nav-third {
		margin-bottom: 15px;
	}
}

.horizontal {
  animation: horizontal_9469 2.72s ease infinite;
  transform-origin: 50% 50%;
}

@keyframes horizontal_9469 {
  0% { transform:translate(0,0) }
  4.41177% { transform:translate(5px,0) }
  8.82353% { transform:translate(0,0) }
  13.23529% { transform:translate(5px,0) }
  17.64706% { transform:translate(0,0) }
  22.05882% { transform:translate(5px,0) }
  26.47059% { transform:translate(0,0) }
  100% { transform:translate(0,0) }
}








[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}