* {
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	background-size: 100% 100%;
	margin: 0;
}

.no-padding {
	padding: 0px 0px 0px 0px;
}

.favicon {
	width: 110px;
	height: 110px;
	border-radius: 55px;
	background: white;
	padding-top: 54px;
	padding-left: 5px;
	float: left;
	margin-top: 36px;
}

.oval {
	width: 100px;
	height: 30px;
	background: #FF7102;
	border-radius: 15px / 15px;
	opacity: 0.7;
	padding: 7px;
	padding-left: 18px;
	position: absolute;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #FF7102;
	margin-left: 30px;
	margin-top: 30px;
	opacity: 0.7;
	position: absolute;
}

.circle {
	width: 18px;
	height: 18px;
	border-radius: 9px;
	background: white;
	float: left;
	margin-right: 5px;
}

.sm-rectangle {
	width: 18px;
	height: 30px;
	background: #FF7102;
	margin-top: -15px;
	margin-left: 18px;
	position: absolute;
	opacity: 0.7;
}

.md-rectangle {
	width: 18px;
	height: 40px;
	background: #FF7102;
	margin-top: -25px;
	margin-left: 41px;
	position: absolute;
	opacity: 0.7;
}

.lg-rectangle {
	width: 18px;
	height: 50px;
	background: #FF7102;
	margin-top: -35px;
	margin-left: 64px;
	position: absolute;
	opacity: 0.7;
}

#myLoginForm {
	font-family: 'Kavoon', cursive;
	color: #FF6B00;
}

#myRegisterForm {
	font-family: 'Kavoon', cursive;
	color: #FF6B00;
}

input[type=email], input[type=password], input[type=text],
input[type=number] {
	border-radius: 0px;
	border: none;
	box-shadow: inset 0 2px 4px 5px rgba(255,107,0,0.1);
	padding: 22px;
	border-radius: 30px;
}

textarea[type=text] {
	border-radius: 0px;
	border: none;
	box-shadow: inset 0 2px 4px 5px rgba(255,107,0,0.1);
	padding: 22px;
	border-radius: 20px;
}

input[type=email]:focus,
input[type=password]:focus,
input[type=text]:focus,
textarea[type=text]:focus,
input[type=number]:focus {
	box-shadow: inset 0 2px 4px 5px rgba(255,107,0,0.25);
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      margin: auto;
  }

#jumbotron {
	font-size: 130px;
	font-family: 'Kavoon', cursive;
	padding-left: 15%;
}

@media (max-width: 767px) {
	#jumbotron {
		padding-left: 0%;
		font-size: 80px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#jumbotron {
		padding-left: 7%;
		font-size: 109px;
	}
}

@media (max-width: 600px) {
	.nav-third {
		margin-bottom: 15px;
	}
}

.question-well {
	background: #ffffff;
	opacity: 0.4;
	filter: alpha(opacity=40); /* For IE8 and earlier */
	color: black;
	border: none;
	padding: 10px;
	font-family: 'Indie Flower', cursive;
	font-size: 20px
}

.questionAttrs {
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
	font-weight: bold;
	color: #FF5722;
}

@media (max-width: 767px) {
	.questionAttrs {
		text-align: left;
	}
}

/* tooltip */
[data-tip] {
	position:relative;

}
[data-tip]:before {
	content:'';
	/* hides the tooltip when not hovered */
	display:none;
	content:'';
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #1a1a1a;	
	position:absolute;
	top:30px;
	left:35px;
	z-index:8;
	font-size:0;
	line-height:0;
	width:0;
	height:0;
}
[data-tip]:after {
	display:none;
	content:attr(data-tip);
	position:absolute;
	top:35px;
	left:0px;
	padding:1px 8px;
	background:#1a1a1a;
	color:#fff;
	z-index:9;
	font-size: 1em;
	height:25px;
	line-height:25px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space:nowrap;
	word-wrap:normal;
	font-family: 'Calibri'
}
[data-tip]:hover:before,
[data-tip]:hover:after {
	display:block;
}


/* animations */
.badge {
	font-size: 32px;
	height: 80px;
	width: 230px;
	border-radius: 0px;
	line-height: 80px;
	-webkit-animation-name: badge; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 11s; /* Chrome, Safari, Opera */
	animation-name: badge;
	animation-duration: 11s;
	animation-iteration-count: infinite;
}

.badge:hover {
	font-size: 36px;
	height: 90px;
	width: 240px;
	border-radius: 0px;
	line-height: 90px;
	-webkit-animation-name: badge; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 11s; /* Chrome, Safari, Opera */
	animation-name: badge;
	animation-duration: 11s;
	animation-iteration-count: infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes badge {
	0%   {background-color: #ff471a;}
	10%  {background-color: #cc0000;}
	20%  {background-color: #e6005c;}
	30%  {background-color: #6600ff;}
	40%  {background-color: #0000ff;}
	50%  {background-color: #0099cc;}
	60%  {background-color: #009999;}
	70%  {background-color: #009933;}
	80%  {background-color: #99cc00;}
	90%  {background-color: #ff9900;} 
	100% {background-color: #ff471a;} 
	}

/* Standard syntax */
@keyframes badge {
	0%   {background-color: #ff471a;}
	10%  {background-color: #cc0000;}
	20%  {background-color: #e6005c;}
	30%  {background-color: #6600ff;}
	40%  {background-color: #0000ff;}
	50%  {background-color: #0099cc;}
	60%  {background-color: #009999;}
	70%  {background-color: #009933;}
	80%  {background-color: #99cc00;}
	90%  {background-color: #ff9900;} 
	100% {background-color: #ff471a;}
}

.tada {
	animation: tada_6570 3.5s linear infinite;
	transform-origin: 50% 50%;
}

@keyframes tada_6570 {
	0% { transform: scale(1) }
	5.55556% { transform:scale(.9) rotate(-8deg) }
	11.11111% { transform:scale(.9) rotate(-8deg) }
	16.66667% { transform:scale(1.3) rotate(8deg) }
	22.22222% { transform:scale(1.3) rotate(-8deg) }
	27.77778% { transform:scale(1.3) rotate(8deg) }
	33.33333% { transform:scale(1.3) rotate(-8deg) }
	38.88889% { transform:scale(1.3) rotate(8deg) }
	44.44444% { transform:scale(1) rotate(0) }
	100% { transform:scale(1) rotate(0) }
}

.pulse {
	animation: pulse_9745 4s linear infinite;
	transform-origin: 50% 50%;
}

@keyframes pulse_9745 {
	0% { transform: scale(1.1) }
	25% { transform: scale(0.8) }
	50% { transform: scale(1.1) }
	100% { transform: scale(1.1) }
}










[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}