<div>
	<div class="jumbotron" id="jumbotron" style="background-color: #FF6B00; font-family:
		fantasy; color: white; padding: 7.5%; position: relative;
		margin-bottom: 0px;">
		<div style="font-size: 130px; font-family: 'Kavoon', cursive;
			padding-left: 15%;">
			<logo-thumbnail></logo-thumbnail>
			<span style="padding-left: 30px">Pitagora</span>
		</div>
	</div>

	<div id="middle">
		<div class="readMore">

			
			<div id="myCarousel" class="carousel slide" data-ride="carousel"
			style="">
			<!-- Indicators -->
				<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">

					<div class="item active">
						<h1>Read more</h1>
					</div>

					<div class="item">
						second slide...
					</div>

				</div>

				<!-- Left and right controls -->
				<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>

				<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
				</a>

			</div>
			
		</div>

		<register-thumbnail></register-thumbnail>
		
	</div>

	<footer style="position: absolute; bottom: 0; float: initial">
		&copy All rights reserved.
	</footer>
	
</div>

